@import "../variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 16px;
  column-gap: 4px;

  p,
  a {
    color: $font-color;
  }
}
